/* app css stylesheet */
body,html{
	height:100%;
	background-color:#57534d;
	background-attachment:fixed;
}

#page{
	height:100%;
	width:100%;
	background-color:#57534d;
	background-attachment:fixed;
}

#wrapper{
	width:92%;
	margin-left: auto ;
	margin-right: auto ;
	box-shadow: 0px 0px 5px #000;
	background-color:#57534d
}

.header{
	margin-top:50px;
	height:200px;
	background-image:url('../img/hotel-header.jpg');
	
}

nav.navbar-wrapper{
	background-color:#304244;
}

nav .navbar-nav > li > a {
	color:#fff;
}

.content{
	width:100%;
	background-color:#fff;
	padding-right:15px;
	padding-left:15px;
}

.hotel-header{
	font-size:34px;
}
.hotel-header1{
	float:left;
	margin-right:20px;
}
.property-header {
	font-size: 20px;
}

.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
}

.rating .filled {
  color: #21568b;
}

.hotel-info{
	color:#666;
}

.hotel-name{
	font-weight:bold;
}
.hotel-features{
	font-weight:bold;
}

.feature-list{
	display:inline-block;
	margin-left:-40px;
}

.feature-list li{
	display:inline-block;
	width:180px;
}

.accomodation-list{
	display:block;
}

.accomodation-list li{
	padding: 10px 10px 10px 10px; 
	display:block;
	background-color:#eee;
	margin-left:-40px;
	margin-bottom:7px;
}

.room-feature-list{
	display:inline-block;
	margin-top:15px;
}

.room-feature-list li{
	display:inline-block;
	width:170px;
	padding:0px;
}

.room-name{
	font-size:24px;
}

.room-desc{
margin-top:10px;
	color:#777;
}

.jcarousel {
    position: relative;
    overflow: hidden;
    /* You need at least a height, adjust this to your needs */
    height: 100px;
}

.jcarousel ul {
    width: 20000em;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}

.term-desc {
	color:#777;
	font-size:12px;
	margin-bottom:40px;
}

.booking-btn{
	position:relative;
	float:right;
}