/* app css stylesheet */
body,html{
	height:100%;
	background-color:#c1bfaa;
	background-attachment:fixed;
}

#page{
	height:100%;
	width:100%;
	background-color:#c1bfaa;
	background-attachment:fixed;
}

#wrapper{
	width:92%;
	margin-left: auto ;
	margin-right: auto ;
	box-shadow: 0px 0px 5px #000;
	background-color:#c1bfaa	
}

.header{
	margin-top:50px;
	height:180px;
	background-image:url('../img/hotel-header.png');
}

nav.navbar-wrapper{
	background-color:#a09e89;
	box-shadow: 0px 0px 5px #000;
	color:#fff;
}

nav .navbar-nav > li > a {
	color:#fff;
}

.navbar-default .navbar-nav > li > a{
	color:#fff;
}

.content{
	width:100%;
	background-color:#fff;
	padding-right:15px;
	padding-left:15px;
}

.hotel-header{
	font-size:34px;
}
.hotel-header1{
	float:left;
	margin-right:20px;
}

.hotel-header2{
	margin-right:20px;
	font-size:24px;
	color:#666;
	vertical-align:bottom;
}
.property-header {
	font-size: 20px;
}

.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
}

.rating .filled {
  color: #21568b;
}

.hotel-info{
	color:#666;
}

.hotel-name{
	font-weight:bold;
}
.hotel-features{
	font-weight:bold;
}

.hotel-desc{
	margin-top:10px;
}

.feature-list{
	display:inline-block;
	margin-left:-40px;
}

.feature-list li{
	display:inline-block;
	width:200px;
}

.accomodation-list{
	display:block;
}

.accomodation-list li{
	padding: 10px 10px 10px 10px; 
	display:block;
	background-color:#eee;
	margin-left:-40px;
	margin-bottom:7px;
}

.room-feature-list{
	display:inline-block;
	margin-top:15px;
}

.room-feature-list li{
	display:inline-block;
	width:170px;
	padding:0px;
}

.room-name{
	font-size:24px;
}

.room-desc{
margin-top:10px;
	color:#777;
}

.term-desc {
	color:#777;
	font-size:12px;
	margin-bottom:40px;
}

.booking-btn{
	position:relative;
	float:right;
}

#foo{
	display:none;
}



.step-desc{
	float:left;
	padding:5px;
	font-size:22px;
	color:#000;
}

.step-header{
	float:left;
	background-color:#831c1c;
	color:#fff;
	border-radius:10px;
	font-size:22px;
	padding:5px;
	margin-right:15px;
}

.step-info{
	border-radius:5px;
	margin-top:5px;
	position:relative;	
	float:right;
	padding:5px;
	font-size:14px;
	color:#fff;
	background-color:#888;
}

.step2error{
	border: 1px solid #000;
	border-radius:5px;
	font-size:18px;
	padding:5px;
	margin-right:15px;
	display:inline-block;
	margin-bottom:10px;
	background-color:#eee;
}

.col-header{
	font-weight:bold;
	margin-bottom:15px;
}

.payment-header{
	font-weight:bold;
	margin-bottom:15px;
	margin-top:15px;
}

.content-style{
	background-color:#eee;
	padding:8px;
	border:5px solid #fff;
}

.content-style2{
	background-color:#eee;
	padding:20px;
	border:5px solid #fff;
}

.form-control{
	margin-bottom:10px;
}

.marginBot10{
	margin-bottom:10px;
}

.css-form input.ng-invalid.ng-dirty {
	background-color: #FA787E;
}
.css-form input.ng-valid.ng-dirty {
	background-color: #78FA89;
}

.invalid-name{
	margin-bottom:10px;
	margin-top:-10px;
	color:#FA787E;
	padding:5px;
}

.dateTableHead {
	background: #434a50;
	color: white;
	font-size: 12px;
}

.dateTableHead th {
	text-align: center;
}

.TableBody{
	background-color:rgb(226, 241, 246);
}
.price-table td {
	vertical-align: middle !important;
	font-size: 12px;
	position: relative;
}

.price-table th {
	vertical-align: middle !important;
}

.dayTitle {
	display: block;
}

.dateTitle {
	display: block;
	font-size: 15px;
	line-height: 1;
}

.monthTitle {
	display: block;
	font-size: 11px;
	color: #a8a8a8;
}

.weekendHighlight {
	background: #2a2f34;
}

.hot-notification {
	position: absolute;
	display: block; 
	background: orangered;
	width: 100%;
	margin-left: -8px;
	font-weight: bold;
	color: white;
	height: 14px;
	z-index: 100;
	top: 0;
	font-size: 8px;
	padding: 2px;
}

.price-col {
	text-align: center;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	cursor: pointer;
}

.price-col a {
	padding: 20px 0px;
}

.price-col:hover {
	background: #e4e4e4 !important; 
}

.price-col:hover a {
	text-decoration: underline;
	color: #2a6496;
}

.hotPrice a {
	font-weight: bold;
	color: orangered !important;
}

.price-col.booked, .price-col.active.booked {
	background: #DADADA;
}

#startPopUpBox {
	display: block;
	border: cornflowerblue solid thin;
	position: absolute;
	padding: 10px;
	background: white;
	z-index: 999;
	top:45px;
	right: 16px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#endPopUpBox {
	display: block;
	border: cornflowerblue solid thin;
	position: absolute;
	padding: 10px;
	background: white;
	z-index: 999;
	top:45px;
	right: 16px;	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#startPopUpBox.boxHid, #endPopUpBox.boxHid {
	display: none;
}