<div class="container"> 
	<!-- Hotel Room List Table-->
	<div class="page-header hotel-header">
		<div class="hotel-header1">
			Demo Hotel
		</div>
		<div hotel-rating rating-value="rating" max="5">  </div>
	</div>
	
	<!-- Hotel Information -->
	<div class="page-header">
		<div class="property-header">
			Hotel information
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-3">
			<span class="hotel-name">{{Hotel.name}}</span>
			<br/>
			{{Hotel.address}}
			<br/>
			{{Hotel.phone}}
		</div>
		<div class="col-md-9">b</div>
	</div>
</div>
