<div class="header"></div>
<div class="content">
	<div class="container"> 
		<!-- Hotel Room List Table-->
		<div class="page-header hotel-header">
			<div class="hotel-header1">
				{{hotel.name}}
			</div>
			<div hotel-rating rating-value="rating" max="5">  </div>
		</div>

		<div class="row">
			<table class="table price-table" 
				   ng-controller="PriceTableCtrl">
				<thead class="controlHead"></thead>
				<thead class="dateTableHead">
					<tr>
						<th colspan="2" style="text-align: left;">
							Prices will be charged in Indonesian Rupiah
						</th>
						<th>
							Full Rate
						</th>
						<th ng-repeat="dateObj in dateArray" ng-class="{weekendHighlight:dateObj.weekday}">
							<span class="dayTitle"> {{dateObj.day}} </span>
							<span class="dateTitle"> {{dateObj.date}} </span>
							<span class="monthTitle"> {{dateObj.month}} </span>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="roomItem in roomList">
						<td> {{roomItem.name}} </td>
						<td> 
							<button type="button" class="btn btn-primary btn-sm booking-btn" ng-click="booking(roomItem.id)">
								<i class="glyphicon glyphicon-tag"></i> Book
							</button> 
						</td>
						<td>
							<b> {{roomItem['full-rate'] | currency:"IDR "}} </b>
						</td>

					<td ng-repeat="dateObj in dateArray" 
						ng-class="{active:dateObj.weekday}"
						class="price-col"
						ng-click="booking(roomItem.id, dateStrArray[$index], dateObj.day)"
						>
						<div class="hover-div" data-content="<div class='info-hover'> Included Occupancy (Adult) : <b>{{roomItem.includedAdult}}</b> people <br> Included Occupancy (Child) : <b>{{roomItem.includedChildren}}</b> people <br>Maximum Occupancy : <b>{{roomItem.maxOccupancy}}</b> people </div>">
							<span price-column 
								room = "{{ roomItem.id }}"
								day ="{{ dateObj.day | lowercase }}">
							</span>
						</div> 
					</td>
				</tr>
			</tbody>
		</table>
	
		</div>
		
		<!-- Hotel Information -->
		<div class="page-header property-header">
				Hotel information
		</div>
		
		<div class="row">
			<div class="col-md-3 hotel-info">
				<span class="hotel-name">{{hotel.name}}</span>
				<br/>
				{{hotel.address}}
				<br/>
				{{hotel.phone}}
				<br/>
				{{hotel.email}}
			</div>
			<div class="col-md-9">
					<div image-carousel ></div>
					<div class="hotel-desc">
						{{hotel.desc}}
					</div>
				<div class="page-header hotel-features">
					Hotel Features
				</div>
				<div>
					<ul class="feature-list">
						<li ng-repeat="feature in hotel.features">
							{{feature.name}}
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="accomodation">
			<div class="page-header property-header">
				Accomodation Details
			</div>
			<ul class="accomodation-list">
				<li ng-repeat="acc in hotel.rooms">
					<div class="row">
						<div class="col-md-2">
							<img width="100%" ng-src="{{acc.images}}"/>
						</div>
						<div class="col-md-10">
							<div class="room-name"> {{acc.name}} </div>
							<div class="room-desc"> {{acc.desc}} </div>
							<ul class="room-feature-list">
								<li ng-repeat="feature in acc.features">
									{{feature.name}}
								</li>
							</ul>
							<button type="button" class="btn btn-default btn-sm booking-btn" ng-click="booking(acc.id)">
								<i class="glyphicon glyphicon-star"></i> Book
							</button>
						</div>
					</div>
				</li>
			</ul>
		</div>
		
		<div class="terms">
			<div class="page-header property-header">
				Terms & Conditions
			</div>
			<div class="term-desc">
				{{hotel.terms}}
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Make an Enquiry : <b> {{enquireRoom | uppercase}} Room/Packages on {{enquireDate}} </b> </h4>
      </div>
      <div class="modal-body">
        <h4>Thank you for your message</h4>
        <div class="form-group">
	    	<label for="nameInput">Name</label>
	    	<input type="text" class="form-control" id="nameInput" placeholder="Enter your name">
	  	</div>
	  	<div class="form-group">
	    	<label for="phoneInput">Phone</label>
	    	<input type="text" class="form-control" id="phoneInput" placeholder="Enter your phone number">
	  	</div>
	  	<div class="form-group">
	    	<label for="emailInput">Email address</label>
	    	<input type="email" class="form-control" id="emailInput" placeholder="Enter your email">
	  	</div>
	  	<div class="form-group">
	    	<label for="messageInput">Messages</label>
	    	<textarea class="form-control" id="messageInput" rows="3" required></textarea>
	  	</div>
	  	<div class="form-group">
	    	<label for="captchaInput">Please answer following math question : <b> {{enquireRandNum1}} + {{enquireRandNum2}} </b> </label>
	    	<input type="text" class="form-control" id="captchaInput">
	  	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="sendEnquiryForm()">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
