<div class="content" style="margin-top:50px">
	<div class="container">
		<h1>Login</h1>
		<form>
		  <p>
			<label class="control-label">Username</label>
			<input type="text" placeholder="Email address" ng-model="user.email" />
		  </p>
		  <p>
			<label class="control-label">Password</label>
			<input type="password" placeholder="Password" ng-model="user.password" /><br/>
		  </p>
		  <p>
			<button type="button" class="btn btn-primary" ng-click="login()">Login</button>
		  </p>
		</form>
	</div>
</div>
